// Bourbon v2.1 (266kb)
// http://bourbon.io/
// @import "bourbon/bourbon";

// Neat v1.5 (86kb)
// http://neat.bourbon.io/
// @import "neat/neat"


// Stable version of compass v0.12 (455kb)
// @import "compass/compass";

// Compass Animate (164kb)
// - for compass 0.13, but still mostly works in compass 0.12
// https://github.com/ericam/compass-animate
// @import "animate/animate";
// Including the mixins for Compass Animate
// @include animate;

// Ceaser Easing (29kb)
//@import "ceaser-easing/ceaser-easing";
//@include "ceaser-easing";

// Hover.css (217kb)
// - Included both the css one & the scss version, I think scss one conflicts with compass
// http://ianlunn.github.io/Hover/
// @import "hover/hover"
// @import url("../css/hover-min.css");

// Effeckt.css (200kb)
//@import "effeckt/effeckt"

// Custom mixins
@import "mixins";

// Base font size set so the function below can work
$base-font-size:14px;

// A function that converts pixels to "em"s
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

@charset "UTF-8";

// Colours

$white:#fff;
$black:#000;
$grey:#999;
$darkGrey:#333;

// Globals

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  @include box-sizing(border-box);
}

html{
	min-height:100%;
	height:100%;
}

body{
	position:static;
	min-height:100%;
	background:$white;
	@include selection($white, $darkGrey);
	p{
		color:$grey;
		font-size:em(14px);
		@include selection($white, $darkGrey);
	}
}

a{
	@include transition(.3s ease-in-out all);	
	img{
		position:relative;
		@include transition(.3s ease-in-out all);
		display: block;
		-webkit-backface-visibility: hidden;
	}
	&:hover{		
		img{
			@include opacity(.8);
		}
	}
}

.clear{
	clear:both;
}

.hidden{
	display:none;
}