// Colors
$c_Alabaster: #f9f9f9;		// Light Grey
$c_Black: #000000;
$c_Carissma: #ec6fb3;		// Dark Pink
$c_CarouselPink: #fae2f0;	// Light Pink
$c_Conifer: #acd851;		// Green
$c_Finn: #6d3164;			// Purple
$c_Hibiscus: #af2b53;		// Red
$c_MineShaft: #282828;		// Dark Grey
$c_PersianGreen: #00aead;	// Turqoise
$c_RegalBlue: #01427a;		// Dark Blue
$c_White: #ffffff;

$c_Facebook: #3b5998;
$c_Twitter: #4099FF;
$c_LinkedIn: #4875B4;
$c_Pinterest: #C92228;
$c_GooglePlus: #C63D2D;
$c_Instagram: #517fa4;

// Colours

$c_Primary:#333;
$c_Secondary:#666;

$c_BodyText:#111;
$c_HeaderText:#999;
$c_Button:#333;
$c_Error:$c_Hibiscus;
