// Globals

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html{
	font-size:62.5%;
}

html,body{
	margin:0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	button,
	input{
		-webkit-font-smoothing: antialiased;
	}
}

body{
	font-size:16px;
	//@include rem(font-size, 16px);
}

.hidden{
	display: none;
}
.clear{
	clear:both;
}

// putting font-awesome class in here so we can extend it on any element within the stylesheet
.fa{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}
