[class*="col-"]{
    @include rem(padding,15px 0);
    @include rem(min-height, 1px);
    position: relative;
    display: inline-block;
    vertical-align:top;
}

.col-12{
    width:100%;
}

.col-11{
    width: 91.66666667%;
}

.col-10{
    width: 83.33333333%;
}
.col-9{
    width:74.99999%;
}

.col-8{
    width:66.66666667%;
}

.col-7{
    width:58.33333333%
}

// 2 columns
.col-6{
    width:50%;
}

.col-5{
    width: 41.66666667%;
}

// 3 columns
.col-4{
    width:33.33333333%
}

// 4 columns
.col-3{
    width:25%;
}

// 5 columns
.col-25{
    width:20%;
}

// 6 columns
.col-2{
    width:16.66666667%;
}

// 12 columns
.col-1{
    width:8.333333333%;
}
